html {
  font-size: 16px;
}

header {
  padding: 2rem;
  text-align: center;
}

header p {
  font-size: 1.5rem;
}



.puppies img {
  
  
  padding: 1rem;
}

.avengers img {

width: 200px;
  
}


.avengers > h2 {
  font-weight: bold;
  text-transform: uppercase;
}
